.marketing {
  background-color: #2d4c7d;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

body {padding-top: 20px;}

.pdt{
	border-top: dotted 1px #ccc;
    padding-top: 10px;
    padding-bottom: 13px;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}